
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: "Open Sans",cambria;
}


.about{
  width: 1130px;
  max-width: 85%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.text{
  width: 540px;
  
}

.text h2{
  font-size: 90px;
  
  font-weight: 600;
  margin-bottom: 10px;

}
.text h5{
  font-size: 22px;
  font-weight: 500;
  margin-bottom: 20px;
  color: #e3def0;
}
span{
  color: #4070f4;
}
.text p{
  font-size: 18px;
  line-height: 25px;
  letter-spacing: 1px;
  padding: auto;
}
.data{
  margin-top: 30px;
}

nav{
  background: #4070f4;
  height :80px;
}

.pic{
  width: 500px;
  height: 500px;
  border-radius: 50%;
  border: 2px solid white;
  margin-left: 10px;

  

}

body{
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
nav{
  background: #58b5eb;
  width: 100%;
  height: 80 px;

}
label.logo{
  color: white;
  font-size: 35px;
  font-style:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
  line-height: 80px;
  padding: 0 10px;
  font-weight: bold;
}
 nav ul {
  float: right;
  margin-right: 20px;

 }

 nav ul li {
  display: inline-block;
  line-height: 80px;
  margin : 0 5px;
 }
 nav ul li a {  
  color: white; 
  font-size: 20px;
  text-transform: uppercase;
  padding: 7px 13px;
 }

 .fa:hover {
  color: red;
   transform:scale(1.3);


}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}

.fa-google {
  background: #dd4b39;
  color: white;
}

.fa-linkedin {
  background: #007bb5;
  color: white;
}
.fa-youtube {
  background: #bb0000;
  color: white;
}

.fa-instagram {
  background: #125688;
  color: white;
}
.fa {
  padding: 15px;
  
  font-size: 12px;
  width: 40px;
   height: 40px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  
}
.col-sm-6{
  display: flex;
  padding: auto;
}

.footer{
  background-color: rgb(46, 46, 46);
    padding: 5px;
   

}